.header {
    width: 100%;
    background-color: #f8f9fa;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
}

.header-nav-btn {
    flex: 1;
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-align: center;
    padding: 0.5rem;
    font-size: 1rem;
    font-family: inherit;
    font-weight: normal;
}

.header-nav-btn:hover {
    background-color: #e2e6ea;
}

.header-nav {
    text-decoration: none;
    color: black;
}
